@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}

body {
  align-items: center;
  height: 100vh;
  max-width: 500px;
}

.logo {
  width: 150px;
  height: 100px;
}

.container {
  display: inline-block;
  position: relative;
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  text-align: center;
}
.links {
  margin-top: 30px;
}
.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  height: 70px;
}

.btn {
  background-color: rebeccapurple;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  position: relative;

  z-index: 1;
}

.btn.whatsApp {
  background-color: rgba(37, 211, 102, 1);
  transition: transform 0.2s ease-out;
  z-index: 1;
}

.btn.map {
  background-color: #4285f4;
}

.btn.call {
  background-color: #fb8c00;
}

h1 {
  font-size: 20px;
 
}

h2 {
  font-size: 17px;
  
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  color: rgb(30, 29, 29);
  background-color: #4285f4;
}

.footer {
  /* margin-top: 50px; */
  position: relative;
  z-index: 1;
}

.cats {
  /* position: absolute; */
  /* bottom: 50px; */
  /* left: 10%; */
  /* bottom: 95%; */
  /* transform: translateX(-50%); */
  width: 100px;
  /* z-index: 0; */
  /* pointer-events: none; */
}

.dogs{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;

}

.dog{
  width: auto;
  height: 70px;
}
.jiggle {
  animation: jiggle 1s ease-in-out;
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
